@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
 
* {
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   text-decoration: none;
   font-family: 'Jeju Gothic';
}

.main_wrap {
   position: relative;
   min-height: 100%;
   /* padding-bottom: 120px; */
   margin: 0px auto;
   width: 100%;
}
.container-fluid{
   padding: 0px;
}
#container{
   padding: 0px;
}

a:link {
   text-decoration: none;
}

html, body {
   height: 100%;
}

/* 메뉴 */
#header {
   background: rgb(222, 235, 247);
   height: 170px;
   border: none;
}

.mynav {
   height: 170px;
}

.mynav li strong {
   font-size: 21px;
   color: #002060;
   line-height: 170px;
   padding: 0px 10px;
   margin: 0px;
}

#nav-right {
   margin-right: 10px;
}

#navbar-main {
   height: 170px; /* 
   margin-top: 10px;
   margin-right: 5px; */
}

#navbar-user {
   margin-right: 10px;
}

#logo_img {
   padding: 5px;
   height: 170px;
}

/* 푸터 */
#footer {
   background: #ededed;
   width: 100%;
   height: 120px;
   /* position: absolute; */
   left: 0;
   bottom: 0;
   padding-top: 40px;
   color: rgb(170, 170, 170);
   margin: 0px auto;
   margin-top: 50px;
}

#footer span {
   font-size: 13px;
}

.include_wrap {
   margin-bottom: 102px;
}

/* 로그인 모달 */
#login-modal {
   position: fixed;
   top: 35%;
   right: 0;
   bottom: 0;
   left: 0;
   height: 300px;
}

#login-content {
   height: 300px;
}
/* 활성화 */
input {
   outline: none;
}

button {
   outline: none;
}

a {
   outline: none;
}

password {
   color: black;
}

#footer_1, #footer_2, #footer_3, #footer_4 {
   display: inline;
   margin: 0px auto;
}

@media screen and (max-width: 770px) {
   #user_img {
      width: 50px;
      height: 50px;
   }
   #navbar-main {
      margin-top: 10px;
   }
   #username {
      display: none;
   }
}

@media ( max-width : 460px) {
   #footer {
      height: 160px;
   }
   #footer_5 {
      padding-bottom: 10px;
   }
   .main_wrap {
      padding-bottom: 160px;
   }
}







.course_wrap {
   margin: 0px auto;
   height: 450px;
   margin-bottom: 150px;
}
#course_sub {
   height: 200px;
   width: 100%;
   position: absolute;
   background-image: url(../image/flower5.jpg);
   background-size: 100%;
   background-attachment: fixed;
}

#course_sub h1 {
   line-height: 200px;
   margin: 0px;
   font-weight: bold;
   color: white;
}

#course_main {
   height: 250px;
}

.course {
   position: relative;
   float: left;
   width: 25%;
   height: 250px;
   background-size: 100%;
   background-position: center;
}
 .course a {
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   position: absolute;
   z-index: 1;
}

.course h2 {
   line-height: 250px;
   text-align: center;
   color: white;
   margin: 0px;
}

.best_wrap {
	background-color: white;
   width: 48%;
   float: left;
   margin-bottom: 150px;
}

.best_wrap h1 {
   padding-bottom: 20px;
   border-bottom: 2px solid black;
   /* font-size: 25px; */
   font-weight: bold;
   margin-bottom: 30px;
}

#best_food {
   margin-right: 45px;
}

.food_place {
   height: 200px;
   margin-bottom: 10px;
   background-size: 100%;
   background-position: center;
}

.food_place h2 {
   margin: 0px;
   line-height: 200px;
   text-align: center;
   color: white;
}

.black {
   /* position: absolute; */
   display: none;
   background-color: black;
   opacity: 0.3;
   width: 100%;
   height: 200px;
}

.review_wrap {
   width: 100%;
}

.review_wrap h1, h4 {
   text-align: center;
}

.review_wrap h4 {
   margin-bottom: 40px;
}

.review {
   width: 280px;
   margin: 2px;
   height: 285px;
   float: left;
}

/* 맛집, 놀거리 hover */
div.snip1200 {
   position: relative;
   overflow: hidden;
   background: #000000;
   color: #ffffff;
   text-align: center;
   /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); */
}

div.snip1200 * {
   /* -webkit-box-sizing: border-box;
   box-sizing: border-box; */
   -webkit-transition: all 0.45s ease-in-out;
   transition: all 0.45s ease-in-out;
}

div.snip1200 img {
   max-width: 100%;
   position: relative;
   opacity: 0.9;
}

div.snip1200 figcaption {
   position: absolute;
   top: 45%;
   left: 7%;
   right: 7%;
   bottom: 45%;
   /*   border: 1px solid white;
  border-width: 1px 1px 0; */
}

div.snip1200 .heading {
   overflow: hidden;
   -webkit-transform: translateY(50%);
   transform: translateY(50%);
   position: absolute;
   bottom: 0;
   width: 100%;
}

div.snip1200 h2 {
   display: block;
   margin: 0 auto;
   padding: 0 10px;
   position: relative;
   text-align: center;
   width: auto;
   text-transform: uppercase;
   /*  font-weight: 400; */
}
/* div.snip1200 h2 span {
  font-weight: 800;
} */
div.snip1200 h2:before, div.snip1200 h2:after {
   position: absolute;
   display: block;
   width: 1000%;
   height: 1px;
   content: '';
   background: white;
   top: 50%;
}

div.snip1200 h2:before {
   left: -1000%;
}

div.snip1200 h2:after {
   right: -1000%;
}

div.snip1200 p {
   top: 50%;
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
   position: absolute;
   width: 100%;
   padding: 0 20px;
   margin: 0;
   opacity: 0;
   line-height: 1.6em;
   font-size: 20px;
}

div.snip1200 a {
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   position: absolute;
   z-index: 1;
}

div.snip1200:hover img, div.snip1200.hover img {
   opacity: 0.25;
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

div.snip1200:hover figcaption, div.snip1200.hover figcaption {
   top: 7%;
   bottom: 35%;
}

div.snip1200:hover p, div.snip1200.hover p {
   opacity: 1;
   -webkit-transition-delay: 0.35s;
   transition-delay: 0.35s;
}

/* 리뷰 hover */
.snip1273 {
  position: relative;
  float: left;
  color: #ffffff;
  text-align: left;
  background-color: #000000;
}
.snip1273 * {
 /*  -webkit-box-sizing: border-box;
  box-sizing: border-box; */
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.snip1273 img {
  position: relative;
  max-width: 100%;
  vertical-align: top;
}
.snip1273 figcaption {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  padding: 20px 30px;
}
.snip1273 figcaption:before,
.snip1273 figcaption:after {
  width: 1px;
  height: 0;
}
.snip1273 figcaption:before {
  right: 0;
  top: 0;
}
.snip1273 figcaption:after {
  left: 0;
  bottom: 0;
}
.snip1273 h3,
.snip1273 p {
  line-height: 1.5em;
}
.snip1273 h3 {
  margin: 0 0 5px;
  font-weight: 700;
  text-transform: uppercase;
}
.snip1273 p {
  font-size: 0.9em;
  font-weight: 500;
  margin: 0 0 15px;
}
.snip1273 a {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.snip1273:before,
.snip1273:after,
.snip1273 figcaption:before,
.snip1273 figcaption:after {
  position: absolute;
  content: '';
  /* background-color: #ffffff; */
  z-index: 1;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0.8;
}
.snip1273:before,
.snip1273:after {
  height: 1px;
  width: 0%;
}
.snip1273:before {
  top: 0;
  left: 0;
}
.snip1273:after {
  bottom: 0;
  right: 0;
}
.snip1273:hover img,
.snip1273.hover img {
  opacity: 0.4;
}
.snip1273:hover figcaption,
.snip1273.hover figcaption {
  opacity: 1;
}
.snip1273:hover figcaption:before,
.snip1273.hover figcaption:before,
.snip1273:hover figcaption:after,
.snip1273.hover figcaption:after {
  height: 100%;
}
.snip1273:hover:before,
.snip1273.hover:before,
.snip1273:hover:after,
.snip1273.hover:after {
  width: 100%;
}
.snip1273:hover:before,
.snip1273.hover:before,
.snip1273:hover:after,
.snip1273.hover:after,
.snip1273:hover figcaption:before,
.snip1273.hover figcaption:before,
.snip1273:hover figcaption:after,
.snip1273.hover figcaption:after {
  opacity: 0.3;
}







table tr td{
   font-size: 20px;
}
input.login_join{
   border: 0px;
   border-bottom: 3px solid #EDEDED;
}
#join-modal{
   position: fixed;
   top: -80px;
   right: 0;
     bottom: 0;
     left: 0;
}
#join-content{
   height: 500px;
}
#log_pwd, #join_pwd, #join_pwd2{
   font-family: '맑은 고딕';
}



::-webkit-input-placeholder {
    color: black;
    opacity: 0.4;
    font-size: 14px;
}
