@CHARSET "UTF-8";
.row1 {
   margin-top: 15px;
   overflow: hidden;
   height: auto;
   border: 1px dashed rgb(204, 204, 204);
   padding: 15px 20px 20px 20px;
}

.p_h {
	border-bottom: 1px solid #dbdbdb;
	padding: 0 0 20px 15px;
	margin-bottom: 15px;
	font-weight: bold;
}

td {
   padding: 5px;
   font-size: 15px;
}

ul, li {
   list-style: none;
}

.li_1, .li_2 {
   /*padding: 5px 0;*/ 
}

.tag_1, .tag_2 {
   float: left;
   padding: 2px 5px;
   background-color: #DEEBF7;
   border-radius: 20px;
   color: #002060;
   margin-right: 10px;
   font-size: 16px;
}

/* top image */
.imagerow {
	height: 100%;
	/* padding: 15px 20px 20px 20px; */
	position: relative;
	background-size: cover;
	background-position: center;
}

.detail_img {
	width: 19%;
	float: left;
	position: relative;
	height: 100%;
	margin: 15px 0px 15px 15px
}

.place_img {
   border-radius: 5px;
   position: relative;
   width: 100%; 
   height: 100%;
   cursor: pointer;
   float: left;
}

.img_more {
   position: absolute;
   width: 185px;
   height: 40px;
   bottom: 30px;
   right: 30px;
   background: rgba(0, 0, 0, 0.6);
   border-radius: 50px;
   display: block
}

.i_more {
   text-align: center; 
   line-height: 40px; 
   color: #fff
}

/* 모달  */
.bora {
	left: 25%;
	margin: 0;
}

.mo_content {
   width: 1000px;
   height: 700px;
   top: 100px;
   padding: 40px 10px 30px 10px;
   background-color: rgba(10, 10, 10, 0.9);
}

.close {
   position: absolute;
   right: 20px;
   top: 20px;
   font-size: 30px;
   color: #ffffff;
}

.close:hover, .close:focus {
   color: #fff;
   cursor: pointer
}

.modal-content {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* 포토라마 */
.fo {
	margin: 30px auto; 
	width: 800px; 
	height: 600px
}

/* 댓글  */
.user_info {
   float: left;
   text-align: center;
   margin: 10px auto;
   width: 140px; 
}

.reply_info {
   width: 97%;
}

/* 댓글 남기기 */
.reply_ta {
   /* margin-bottom: 10px;  */
   float: left
}

.im {
   height: 100%;
   border-radius: 30px;
}

.cate_span {
	margin-right: 15px;	
}

.cate_icon {
	width: 24px;
}

.tags {
	padding: 0;
}

#backBtn, #replyBtn {
	background-color: #002060;
	color: #FFF;
	border-radius: 10%;
	border: medium none #002060;
}